/* TODO: encontrar uma forma de criar um styled component do tipo Link do React Router */
.button-fale-conosco {
    background-color: #94426E;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: center;
    display: flex;
    padding: 15px 61px;
    cursor: pointer;
}

.link-fale-conosco {
    cursor: pointer;
    text-decoration: none;
}

.link-fale-conosco:hover {
    cursor: pointer;
    opacity: 70%;
    transition: opacity 0.5s ease;
}