.cart-overlay {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.cart-container {
    position: fixed;
    margin-top: 20%;
    margin-left: 40%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 12px 4px 12px rgba(0, 0, 0, 0.08);
}

.cart-title {
    padding: 0.25rem 1rem 0 1rem;
    color: white;
}

.cart-header {
    display: flex;
    position: relative;
    top: 0;
    background-color: #94426E;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.cart-close-icon {
    padding: 1rem;
    cursor: pointer;
}

.cart-close-icon:hover {
    transform: scale(120%);
}

.cart-body {
    padding: 2rem 2rem 2rem 2rem;
}

.cart-item {}

.empty-cart {
    padding: 2rem 2rem 2rem 2rem;
}