.cart-overlay {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.cart-container {
    position: fixed;
    margin-top: 10%;
    margin-left: 40%;
    background-color: white;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    max-height: 50%;
    overflow-y: scroll;
    scrollbar-color: rgba(255, 115, 0, 0.319) rgb(255, 255, 255);
    scrollbar-width: thin;
    overflow-x: hidden;
    box-shadow: 12px 4px 12px rgba(0, 0, 0, 0.08);
}

.cart-title {
    padding: 0.25rem 1rem 0 2rem;
    color: white;
}

.cart-header {
    display: flex;
    position: relative;
    top: 0;
    background-color: #94426E;
    border-top-left-radius: 12px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.cart-close-icon {
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
}

.cart-close-icon:hover {
    transform: scale(120%);
}

.cart-body {
    padding: 2rem 2rem 2rem 2rem;
}

.cart-item {
}

.cart-item-inner {
    display: flex;
    padding: 0 1rem 2rem 1rem;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 2rem;
}

.cart-item-image {
    border-radius: 12px;
    object-fit: fill;
}

.cart-item-title {
    font-weight: bold;
}

.cart-item-quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-divider {
    border-top: 1px dashed #94426E;
    margin-bottom: 2rem;
}

.empty-cart {
    padding: 2rem 2rem 2rem 2rem;
}

.button-minus {
    padding: 1rem;
}

.button-minus:hover {
    transform: scale(120%);
    cursor: pointer;
}

.button-plus {
    padding: 1rem;
}

.button-plus:hover {
    transform: scale(120%);
    cursor: pointer;
}

.quantity-number {
    padding: 1rem;
    width: 2rem;
    height: 16px;
    text-align: center;
    border: none;
    font-family: 'Shippori Antique', sans-serif;
    font-size: 16px;
}
