.container-navegacao {
    display: flex;
    justify-items: space-between;
    justify-content: space-between;
    align-items: center;
    max-width: 1230px;
    width: 1230px;
}

.lista-navegacao {
    display: flex;
    margin-left: 0;
    padding-left: 1rem;
    list-style-type: none;
    max-width: 1230px;
}

.lista-navegacao>li {
    text-decoration: none;
    padding: 0 6rem 0.25rem 0;
}

.link-navegacao {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
}

.link-navegacao:hover {
    opacity: 70%;
    transition: all 0.5s ease;
}

.anuncio-promocao {
    font-weight: bold;
    color: #DC5E5E;
}