.navigationLink {
  text-decoration: none;
  color: #222222;
  font-size: 1rem;
}

.navigationLink:hover {
  opacity: 70%;
  transition: all 0.5s ease;
}

.navigationItem {
  text-decoration: none;
  padding: 0 6rem 0.25rem 0;
}

.navigationContainer {
  display: flex;
  justify-items: space-between;
  justify-content: space-between;
  align-items: center;
  max-width: 1230px;
  width: 1230px;
}

.navigationList {
  display: flex;
  margin-left: 0;
  padding-left: 1rem;
  list-style-type: none;
  max-width: 1230px;
}

.promotionText {
  font-weight: 700;
  color: #ff6b6b;
}