.banner {
    display: flex;
    background-color: #DC995E;
    padding: 0.1rem;
    justify-content: center;
}

.container-banner {
    width: 1200px;
    display: flex;
    align-items: center;
}

.texto-1 {
    font-weight: bold;
    color: white;
}

.texto-2 {
    margin-left: 2rem;
}

.texto-3 {
    margin-left: 2rem;
    border-radius: 8px;
    background-color: white;
    font-weight: bold;
    padding: 2px 13px;
}